.top_header{
    margin-left: 12vw;
    margin-right: 12vw;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: #97BFB4;
}
.logo{
    width: 7vw;
    height: 7vw;
}